.bs-header{
    background-color: #3A3A3A;
    font-size: 1.5rem;
}

.bs-special-bg{
    background-color: #ECECEC;
}

.bs-section-heading{
    font-size: 3em;
    font-weight: 600;
}

.projects-br-radius{
    border-radius: 20px;
}

.gallery-br-radius{
    border-radius: 20px;
}

